@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* styles.css */

body {
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

.sigern {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.logoType {
    width: 7cm;
    height: 7cm;
    animation: roundaboat 10s linear infinite;
    transition: .5s;
    cursor: pointer;

    &:hover {
        animation: none;
    }
}

@keyframes roundaboat {

    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    background: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    max-width: 900px;
    width: 100%;
    overflow: hidden;
}

.illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}

.h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Lemon';
}

.label {
    margin-bottom: 5px;
}

.inputField {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    outline: none;

    &:focus {
        border: 2px solid #ff7e5f;
    }
}

.button {
    background: #ff7e5f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 75%;
}

.button:hover {
    background: #feb47b;
}

.p {
    font-family: 'Lemon';
    margin-top: 10px;
}

.a {
    color: #ff7e5f;
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
}

.eeror {
    color: red;
    font-family: 'Ubuntu';
}

.radioInput {
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: #908e8e;
    padding: 4px;
    border-radius: 10px;
    width: fit-content;
}

.radioInput input {
    display: none;
}

.radioInput .label {
    width: 90px;
    height: 60px;
    background: linear-gradient(to bottom, #fafafa, rgb(245, 149, 4));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    transition: all 0.1s linear;
    border-top: 1px solid #4e4d4d;
    background-color: #333333;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 17px 5px 1px rgba(241, 182, 2, 0.2);
}

.label:has(input[type="radio"]:checked) {
    box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
    background: linear-gradient(to bottom, #cf9138, #cf903841);
    border-top: none;
}

.label:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.label:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 103%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom,
            transparent 10%,
            transparent,
            transparent 90%);
    transition: all 0.1s linear;
    z-index: -1;
}

.label:has(input[type="radio"]:checked)::before {
    background: linear-gradient(to bottom,
            transparent 10%,
            #cae2fd63,
            transparent 90%);
}

.label .text {
    color: black;
    font-size: 15px;
    line-height: 12px;
    padding: 0px;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.1s linear;
    text-shadow:
        -1px -1px 1px rgb(224, 224, 224, 0.1),
        0px 2px 3px rgb(0, 0, 0, 0.3);
}

.label input[type="radio"]:checked+.text {
    color: rgb(202, 226, 253);
    text-shadow: 0px 0px 12px #cae2fd;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .illustration {
        display: none;
    }
}
